<header>
  <div class="navbar navbar-default navbar-static-top">
    <nav class="container-fluid header-webrecorder">
      <ol class='wr-breadcrumb'>
      	<li>
      		<span>
      			 <a href="/">User Guide and Glossary</a>
      		</span>
      	</li>
      	<li>
      		<span>
      			 <a href="/autopilot/">Autopilot Guide</a>
      		</span>
      	</li>
       </ol>
      <div class='navbar-user-links navbar-right'>
      	<ul class="nav">
          <li class="titleHeader"><a href="https://conifer.rhizome.org/">Conifer</a></li>
      	</ul>
      </div>
    </nav>
  </div>
</header>
