---
---
@import "minima";

@font-face {
  font-family: 'Gza';
  font-weight: normal;
  src: url('fonts/gza-seminegra-webfont.woff2') format('woff2'),
       url('fonts/gza-seminegra-webfont.woff') format('woff'),
       url('fonts/gza-seminegra-webfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: normal;
  src: url('fonts/HKGrotesk-Regular.woff2') format('woff2'),
       url('fonts/HKGrotesk-Regular.woff') format('woff'),
       url('fonts/HKGrotesk-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 300;
  src: url('fonts/HKGrotesk-Light.woff2') format('woff2'),
       url('fonts/HKGrotesk-Light.woff') format('woff'),
       url('fonts/HKGrotesk-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 300;
  font-style: italic;
  src: url('fonts/HKGrotesk-LightItalic.woff2') format('woff2'),
       url('fonts/HKGrotesk-LightItalic.woff') format('woff'),
       url('fonts/HKGrotesk-LightItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bold;
  src: url('fonts/HKGrotesk-Bold.woff2') format('woff2'),
       url('fonts/HKGrotesk-Bold.woff') format('woff'),
       url('fonts/HKGrotesk-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bold;
  font-style: italic;
  src: url('fonts/HKGrotesk-BoldItalic.woff2') format('woff2'),
       url('fonts/HKGrotesk-BoldItalic.woff') format('woff'),
       url('fonts/HKGrotesk-BoldItalic.ttf')  format('truetype');
}

body{
	font-size: 14px;
  font-family: "HKGrotesk";
  line-height: 1.42857;
  color: #333333;
}

h2{
  font-size: 30px;
  font-weight: 700;
  span{
    font-size: 14px;
    font-weight: normal;
    float:right;
  }
}
a{
  color:#337ab7;
  text-decoration: none;
  &:hover{
    color: #74B9F3;
  }
}

nav {
    margin-bottom: .1rem;
    height: 55px;
    background-color: #676C5B;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.logo-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
.logo-anchor svg {
  height: 2.8125rem;
  width: 3rem;
}

.logo-anchor h2 {
  margin: 0;
  font-family: "GZA";
  font-weight: 500;
  color: #FFF;
  font-size: 2.125rem;
  line-height: 1.1;
  margin-left: 0.625rem;
}

.navbar-user-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.nav-links{
    margin: 0;
    li{
      display: inline;
      list-style: none;

      a {
          font-size: 0.95rem;
          font-weight: 500;
          color: white;
      }
    }
}
.nav-links li a, .nav-links li span {
    max-width: 10rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1.5rem;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
