---
---
@import "minima";

@font-face {
  font-family: 'InknutAntiqua';
  font-weight: normal;
  src: url('InknutAntiqua-Regular.woff2') format('woff2'),
       url('InknutAntiqua-Regular.woff') format('woff'),
       url('InknutAntiqua-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: normal;
  src: url('HKGrotesk-Regular.woff2') format('woff2'),
       url('HKGrotesk-Regular.woff') format('woff'),
       url('HKGrotesk-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 300;
  src: url('HKGrotesk-Light.woff2') format('woff2'),
       url('HKGrotesk-Light.woff') format('woff'),
       url('HKGrotesk-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: 300;
  font-style: italic;
  src: url('HKGrotesk-LightItalic.woff2') format('woff2'),
       url('HKGrotesk-LightItalic.woff') format('woff'),
       url('HKGrotesk-LightItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bold;
  src: url('HKGrotesk-Bold.woff2') format('woff2'),
       url('HKGrotesk-Bold.woff') format('woff'),
       url('HKGrotesk-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'HKGrotesk';
  font-weight: bold;
  font-style: italic;
  src: url('HKGrotesk-BoldItalic.woff2') format('woff2'),
       url('HKGrotesk-BoldItalic.woff') format('woff'),
       url('HKGrotesk-BoldItalic.ttf')  format('truetype');
}

body{
	font-size: 14px;
  font-family: "HKGrotesk";
  line-height: 1.42857;
  color: #333333;
}

h2{
  font-size: 30px;
  font-weight: 700;
}
a{
  color:#337ab7;
  text-decoration: none;
}
a:hover{
  color: #74B9F3;
}
.navbar{
    min-height: .2rem;
    margin-bottom: .1rem;
    -webkit-box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.15), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.15), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0.1rem 0 rgba(255, 255, 255, 0.15), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    border: 0;
}
.header-webrecorder {
    background-color: white;
    color: #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.wr-breadcrumb{
    padding: 0 !important;
    padding-left: .5rem;
    margin: .1rem;
    border: none;
    display: inline-block;
}
.wr-breadcrumb li{
  display: inline;
}
.wr-breadcrumb li span {
    color: #7B7B7B;
    font-weight: 500;
}
.wr-breadcrumb li a, .wr-breadcrumb li span {
    color: #ccc;
    max-width: 10rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar-user-links {
    margin-right: 1.5rem;
    float:right;

}
.navbar-right{
  margin-right: -15px;
}